@import "tailwindcss";

@theme {
  --color-bg: #1e1e1e;
  --color-primary: #8b5cf6;
}

body {
  @apply bg-bg text-white;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
